:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.center {
  margin: 0 auto;
  width: 1280px;
  grid-template-areas: "h h h"
    "s s s"
    "f f f"
}

.header {
  max-width: 100%;
  padding-bottom: 40px;
  padding: 0 2%;
  grid-area: h;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-between;
}

.logo {
  width: 300px;
  height: 150px;
  background-image: url(../images/logo_mulher_bonita.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}

.navbar ul {
  text-align: center;
  padding-top: 30px;
  width: calc(100% - 300px);
  height: 100px;
  float: right;
}

li {
  display: inline-block;
  text-decoration: none;
  padding-right: 20px;
}

.menu_button {
  text-decoration: none;
  padding-left: 20px;
}

a:hover {
  background-color: rgba(255, 153, 204, 0.445);
  /* font-size: 25px;*/
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

.nav-links a {
  /*Mudando a cor dos itens*/
  color: rgba (250, 140, 75);
  /*Mudando o espaçamento das letras dos itens*/
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 30pxpx;
}

.burger {
  /*Não deixando o menu hambuguer visivel */
  display: none;
  /*aparecendo a maozinha quando clica no menu hambuguer*/
  cursor: pointer;
}

.burger div {
  /*Ajeitando o menu Hambuguer*/
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: rgba(255, 153, 204, 0.719);
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

section.slider {
  width: 100%;
  height: 640px;
}

.fa-home {
  color: rgb(255, 149, 167);
  padding-right: 3px;
  font-size: 25px;

}

.fa-phone {
  color: rgb(255, 149, 167);
  padding-right: 3px;
  font-size: 25px;

}

.fa-shopping-bag {
  color: rgb(255, 149, 167);
  font-size: 25px;
  padding-right: 3px;
}

.fa-user-secret {
  color: rgb(255, 149, 167);
  padding-right: 3px;
  font-size: 30px;

}

.fa-home {
  color: rgb(255, 149, 167);
  padding-right: 3px;
  font-size: 30px;

}

.fa-phone {
  color: rgb(255, 149, 167);
  padding-right: 3px;
  font-size: 30px;

}

.fa-shopping-bag {
  color: rgb(255, 149, 167);
  font-size: 30px;
  padding-right: 3px;
}

.fa-user-secret {
  color: rgb(255, 149, 167);
  padding-right: 3px;
  font-size: 30px;

}

/*fim ícones de menu*/
/*Slider*/
.img-slider {
  grid: s;
  position: relative;
  width: 100%;
  height: 500px;
  /*  background:rgb(255, 153, 204);*/
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 550px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: rgb(236, 30, 30);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800px;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: rgb(104, 13, 96);
  background: rgba(193, 219, 198, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #ff86f93d;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.img-slider .slide .info {
  padding: 10px 25px;
}

.img-slider .slide .info h2 {
  font-size: 35px;
}

.img-slider .slide .info p {
  width: 70%;
  font-size: 15px;
}

.img-slider .navigation {
  bottom: 25px;
}

.img-slider .navigation .btn {
  width: 10px;
  height: 10px;
  margin: 8px;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

/*início da interação redes sociais*/
.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

.instagram-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 110px;
  right: 40px;
  background-color: 188, 41, 120;
  color: 255, 153, 204;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-instagram {
  margin-top: 16px;
}

footer {
  grid-area: f;
  text-align: center;
  height: 200px;
  padding-top: 40px;
  font-size: 22px;
  background-color: rgba(226, 130, 221, 0.664);
}

/*Colection*/
.section {
  padding: 3rem 0;
}

.collection {
  margin: 3rem 0;
}

.collection__container {
  width: 80%;
  padding: 0 1.6rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.collection__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex: 0 0 48%;
  height: 30rem;
  background-color: var(--primaryColor);
}

.collection__box:not(:last-child) {
  margin-right: 1.6rem;
}

.img__container {
  width: 25rem;
  text-align: center;
}

.collection__box img.collection_01 {
  width: 100%;
}

.collection__box img.collection_02 {
  width: 100%;
}

.collection__content {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection__content span {
  color: var(--black);
  padding-left: 20px;
}

.collection__content h1 {
  margin-top: 0.5rem;
}

.collection__content a:link,
.collection__content a:visited {
  font-weight: 700;
  display: inline-block;
  padding: 1rem 1.4rem;
  margin-top: 1.3rem;
  border-radius: 3rem;
  border: 2px solid var(--secondaryColor);
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  transition: all 0.3s ease-in-out;
}

.collection__content a:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}

.img-slider {
  grid: s;
  position: relative;
  width: 100%;
  height: 500px;
  /*  background:rgb(255, 153, 204);*/
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 550px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: rgb(236, 30, 30);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800px;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: rgb(104, 13, 96);
  background: rgba(193, 219, 198, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #ff86f93d;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.img-slider .slide .info {
  padding: 10px 25px;
}

.img-slider .slide .info h2 {
  font-size: 35px;
}

.img-slider .slide .info p {
  width: 70%;
  font-size: 15px;
}

.img-slider .navigation {
  bottom: 25px;
}

.img-slider .navigation .btn {
  width: 10px;
  height: 10px;
  margin: 8px;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

/*Media  Queries*/
@media screen and (max-width: 768px) {
  .logo {
    width: 150px;
    height: 75px;
    background-image: url(../images/logo_mulher_bonita.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: none;
  }

  .img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 0;
  }

  .navbar ul {

    background-color: rgb(255, 153, 204);
    padding-top: 0px;
    width: 100%;
    height: 100px;
    display: inline-flex;
  }

  .nav-links {
    position: absolute;
    font-size: 20px;
    right: 0px;
    height: 100px;
    background-color: rgb(122, 40, 101);
    display: block;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  /*ajustando os itens para se adequar a altura min.*/
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100px;
    top: 3vh;
    /*Arrumando o menu hambuguer*/
    background-color: rgb(122, 40, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /*Ajeitando a transição parar abrir o menu hambuguer*/
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 12px;
    margin: 0;
    top: 0;
  }

  .nav-links li a:hover {
    background-color: rgba(255, 153, 204, 0.445);
    color: snow;
  }

  .fa-home {
    color: rgb(212, 55, 212);
    padding-right: 3px;
    font-size: 30px;

  }

  .fa-phone {
    color: rgb(212, 55, 212);
    padding-right: 3px;
    font-size: 30px;

  }

  .fa-shopping-bag {
    color: rgb(212, 55, 212);
    padding-right: 3px;
    font-size: 30px;

  }

  .fa-user-secret {
    color: rgb(212, 55, 212);
    padding-right: 3px;
    font-size: 30px;

  }

  .burger {
    /*para aparecer o menu hambuguer quando a tela tiver pequena*/
    display: block;
    background-color: rgb(255, 153, 204);
  }

  .nav-links.nav-active li {
    opacity: 1;
  }

  .burger {
    display: block;
    background-color: rgb(255, 153, 204);
    float: left;
  }

  /*Quando se clica no menu hambuguer, consegue abrir os itens*/
  .nav-active {
    transform: translateX(0%);
  }

  /*Animações quando se clica no menu hamburguer*/
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /*Transformando o menu em X*/
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;

  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar ul {
    height: auto;
    background-color: rgb(164, 51, 115);
  }

}
}

@media only screen and (max-width: 568px) {

  .navbar ul {
    text-align: center;
    padding-top: 30px;
    width: calc(100% - 150px);
    height: 100px;
    float: right;
  }
  .collection {
    margin: 0;
    position: relative;
  }

  .collection__container {
    width: 100%;
    height: 50rem;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection__box {
    justify-content: space-around;
    height: 15rem;
  }

  .collection__content {
    flex: 0 0 30%;
  }

  .collection__data span {
    font-size: 1.2rem;
  }

  .collection__data h1 {
    font-size: 2rem;
  }
}

@media(max-width:520px) {
  .navbar ul {
    text-align: center;
    padding-top: 30px;
    width: calc(100% - 150px);
    height: 100px;
    float: right;
  }
  .img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 0;
  }

  .pag {
    border-radius: 10px 70px;
    width: 100px;
    background-color: darksalmon;
    color: deeppink;
    margin-top: 10px;
  }

  footer {
    max-block-size: 100%;
    ;
  }
}

@media(max-width:420px) {
  .navbar ul {
    text-align: center;
    padding-top: 30px;
    width: calc(100% - 150px);
    height: 100px;
    float: right;
  }
  .img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 204px;
    margin: 0 auto;
    padding: 0;
  }

  .pag {
    border-radius: 10px 70px;
    width: 100px;
    background-color: darksalmon;
    color: deeppink;
    margin-top: 10px;
  }

  footer {
    max-width: 100%;

  }
}

@media (max-width: 540px) {
  .navbar ul {
    text-align: center;
    padding-top: 30px;
    width: calc(100% - 150px);
    height: 100px;
    float: right;
  }

  .whatsapp-link {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 5;
    right: 25px;
    background-color: 188, 41, 120;
    color: 255, 153, 204;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
  }

  .fa-whatsapp {
    margin-top: 8px;
  }

  .instagram-link {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 55;
    right: 25px;
    background-color: 188, 41, 120;
    color: 255, 153, 204;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
  }

  .fa-instagram {
    margin-top: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 100%;
    height: 250px;
  }

  .pag {
    border-radius: 10px 70px;
    width: 100px;
    background-color: darksalmon;
    color: deeppink;
    margin-top: 10px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;

  }

  footer {
    max-width: 100%;

  }
}

@media (max-width: 320px) {
  .navbar ul {
    text-align: center;
    padding-top: 30px;
    width: calc(100% - 150px);
    height: 100px;
    float: right;
  }
  .produtos-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
  }

  .pag {
    border-radius: 10px 70px;
    width: 100px;
    background-color: darksalmon;
    color: deeppink;
    margin-top: 10px;
  }

  .produtos-flex .produto>div {
    flex: 1 1 200px;
    margin: 10px;
  }
}